.mt-5{
    margin-bottom: 3rem!important;
}

.title {
    text-align: center;
    color:snow
}

body {
    background-color: rebeccapurple; 
}

.weather_jumbo{
    background-color: rgb(157, 132, 182);
    color:snow;
}

h3.weather_jumbo{
    text-align: center;
    margin-bottom: 3.5rem
}

.col-sm-6{
    text-align: center
}

.col-sm{
    text-align: center
}

h4{
    text-align: center
}

.container-fluid {
    padding-left: 30px!important;
    padding-right: 30px!important
}

h6{
    margin-bottom: 1.25rem;
    color: snow;
    text-shadow: 1.5px 1.5px blue
}
